body{
	background-color: azure;
	font-family: cursive;
	font-size: 20px;
	margin: 0px;
}

h1{
	color: white;
}

#cabezera{
	
}

#contenedor {
	background-image: url("../img/fondo1.png");
	background-size: cover;
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
}

#header {
	background-color: blueviolet;
	width: 80%;
	height: 300px;
}

#tablero {
	background-color: #0079BF;
	padding: 10px;
	border-radius: 7px;
	color: white;
	font-size: 15px;
	display: block;
	width: 20%;
	cursor: pointer;
	font-family: helvetica;
	margin: 1%;
}

#tablero:hover {
	background-color: #006BA9;
}

#boton {
	margin-top: 10px;
	display: none;
	background-color: #5DB449;
	color: whitesmoke;
	font-family: sans-serif bold;
	border-radius: 5px;
}

#texto {
	background-color: rgb(227,228,231);
	padding: 8px 57px 8px 8px;
	border-style: none;
	border: 1px solid #AAAAAA;
    box-shadow: inset 0 1px 8px rgba(0,0,0,.15); 
	border-radius: 7px;
	cursor: pointer;
	font-size: 14px;
	font-family: helvetica;

}

#lista {
	background-color: rgb(227,230,231);
	padding: 10px;
	border-style: none;
	border-color: #aaa;
    box-shadow: inset 0 1px 8px rgba(0,0,0,.18); 
	border-radius: 5px;
	font-size: 15px;
	width: 100%;
	cursor: pointer;
	font-family: helvetica;
	display: none;
}

#caja {
	background-color: #E2E4E6;
	padding: 5px;
	width: 18%;
	height: auto;
	display: none;
	border-radius: 5px;
}

.tarjeta {
	padding-top: 20px;
	display: block;
	text-decoration : none;
	color: #949494;
	font-weight: normal;
}

.textBold {
	font-weight: bold;
}

.areaTexto {
	height: 30px;
	display: block;
	resize: none;
	width: 237px;
	border : none;
	border-radius: 3px;
	margin-top: 10px;
}